.container {
  padding: 0 4rem;
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
  list-style: disc;
  li {
    p {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5rem;
    }
    p:first-child {
      font-size: 1.4rem;
      font-weight: 700;
    }

    p:last-child {
      font-weight: 400;
    }
  }
}
