.container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
  li {
    background-color: var(--background-skills);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0;
    color: var(--black);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
