* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --background-app: #22212c;
  --background-components: #302f3d;
  --background-skills: #cb92b1;
  --text-color: #837e9f;
  --green: #00ff00;
  --yellow: #e7de79;
  --black: #000;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--background-app);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--background-skills);
}

ul {
  list-style: none;
}
.share-update-card {
  background-color: #000;
}
