.container {
  display: grid;
  grid-template-columns: 34.8rem 1fr;
  gap: 2rem;
  padding: 4rem;
  max-width: 136rem;
  margin: 0 auto;
}

.home {
  margin-left: 3rem;
}

.footer {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

@media only screen and (max-width: 862px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .home {
    margin-left: 0rem;
  }
}
