.container {
  background-color: var(--background-components);
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 3rem 2rem;
  margin-top: 3rem;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
}
