.container {
  background-color: var(--background-skills);
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
